.sidebar {
    padding: 0.5em;
    margin: 0;
    float: right;
    height: 100%;
    width: 100px;
    background-color: rgb(555, 555, 555);
    position: fixed;
}

.sidebar .button {
    display: block;
}

.button {
    background-color: rgb(575, 575, 575);
    margin: 0.2em;
    margin-bottom: 0.25em;
    padding: 0.25em;
    text-decoration: none;
    color: black;
}

body {
    background: black
}
